@tailwind base;
@tailwind components;
@tailwind utilities;

/* Quick and dirty solution to React's problem with onMouseOut bubbling */
.no-hover-on-children * {
  pointer-events: none;
}

.price-highlight .positive {
  color: rgb(0, 162, 0);
}
.price-highlight .negative {
  color: red;
}
